---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

  <img src="images/banner-default.png" alt="Death Grunty Banner">
  {% if site.theme_config.show_description == true %}
    <img src="images/dg-portrait-detailed.png" alt="Death Grunty">
    <p>{{ site.description }}</p>
    <a href="https://discord.com/api/oauth2/authorize?client_id=812881609794519082&permissions=0&scope=bot%20applications.commands" target="_blank" rel="noopener noreferrer"><img width="60%" src="images/invite-button.png" alt="Death Grunty"></a>
  {% endif %}
</header>

{{ content }}

{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}

{% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_blog }}</h2>
  {% include post_list.html %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}


{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list_newtab.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}